<% edit_context = params[:context] == "edit" || request.referer.to_s.include?(edit_entity_path(@entity)) %>

<% if edit_context %>
  <%= turbo_stream.replace "addresses_container" do %>
    <%= render partial: "entities/addresses_editor", locals: { entity: @entity } %>
  <% end %>

  <%= turbo_stream.replace "address-edit-templates-edit" do %>
    <div id="address-edit-templates-edit" class="hidden" aria-hidden="true">
      <% @entity.addresses.select(&:persisted?).each do |address| %>
        <template id="address-edit-template-<%= address.id %>-edit">
          <%= render "entity_addresses/edit_form", entity: @entity, address: address, context: "edit" %>
        </template>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "addresses_container" do %>
    <%= render partial: "entities/addresses_section", locals: { entity: @entity } %>
  <% end %>

  <%= turbo_stream.replace "address-edit-templates-show" do %>
    <div id="address-edit-templates-show" class="hidden" aria-hidden="true">
      <% @entity.addresses.select(&:persisted?).each do |address| %>
        <template id="address-edit-template-<%= address.id %>-show">
          <%= render "entity_addresses/edit_form", entity: @entity, address: address, context: nil %>
        </template>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "flash_messages" do %>
  <%= render partial: "shared/flash_messages", locals: { flash: flash } %>
<% end %>

<%= turbo_stream.replace "address-modal" do %>
  <%= render "entities/address_modal", entity: @entity %>
<% end %>