<% if params[:context] == "edit" %>
  <% if @patent.persisted? %>
    <%= turbo_stream.replace "patents_container" do %>
      <%= render partial: "entities/patents_editor", locals: { entity: @entity } %>
    <% end %>

    <%= turbo_stream.replace "new_patent" do %>
      <%= turbo_frame_tag "new_patent" %>
    <% end %>

    <%= turbo_stream.replace "add-patent-btn" do %>
      <button type="button"
              id="add-patent-btn"
              onclick="document.getElementById('new_patent').innerHTML = document.getElementById('patent-form-template').innerHTML; this.style.display = 'none';"
              class="inline-flex items-center gap-1 px-3 py-1.5 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700 transition-colors duration-150">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Agregar Patente
      </button>
    <% end %>
  <% else %>
    <%= turbo_stream.replace "new_patent" do %>
      <%= turbo_frame_tag "new_patent" do %>
        <%= render partial: "customs_agent_patents/form", locals: { entity: @entity, patent: @patent } %>
      <% end %>
    <% end %>
  <% end %>

  <%= turbo_stream.replace "flash_messages" do %>
    <%= render partial: "shared/flash_messages", locals: { flash: flash } %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "patents_container" do %>
    <%= render partial: "entities/patents_section", locals: { entity: @entity } %>
  <% end %>

  <%= turbo_stream.replace "flash_messages" do %>
    <%= render partial: "shared/flash_messages", locals: { flash: flash } %>
  <% end %>

  <%= turbo_stream.remove "new-patent-modal" %>
<% end %>
